<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>FAL_KEY</key>
  <string>YOUR_FAL_KEY_HERE</string>
  <key>NOVITA_API_KEY</key>
  <string>YOUR_NOVITA_KEY_HERE</string>
  <key>OPENROUTER_API_KEY</key>
  <string>YOUR_OPENROUTER_KEY_HERE</string>
</dict>
</plist>
